@mixin mobile-large {
  @media only screen and (min-width: 425px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width-320 {
  max-width: 375px;
}
.h-max-carousel{
  max-height: calc(100vh - 70px) !important;
}
.text-color-principal {
  color: #133752;
}

.text-shadow-red {
  text-shadow: 3px 0px 0px #dc3545, -3px 0px 0px #dc3545, 0px 3px 0px #dc3545,
    0px -3px 0px #dc3545, 2px 2px 0px #dc3545, -2px -2px 0px #dc3545,
    2px -2px 0px #dc3545, -2px 2px 0px #dc3545;
}

.logo {
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(28deg)
    brightness(107%) contrast(101%);
}

.bg-gradient {
  background-image: linear-gradient(
    to right,
    #171a1d,
    #006dd2,
    #005ba6,
    #00497a,
    #123651
  ) !important;
}

.bg-green {
  background-color: #2ec273;
}

.bg-blue-ligth {
  background-color: #f5fbfe;
}

.logo {
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(28deg)
    brightness(107%) contrast(101%);
}

.card-promo {
  position: absolute;
  top: 0;
  left: 5%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.373);
}

.img-bg-promotion {
  object-fit: cover;
}

.img-promotion {
  display: none;

  @include mobile-large {
    display: block;
    width: 75px;
  }

  @include tablet {
    display: block;
    width: 150px;
  }

}

.title-promotion {
  font-size: 1.6rem;

  @include mobile-large {
    font-size: 1.7rem;
  }

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }

}

.subtitle-promotion {
  font-size: 1rem;

  @include mobile-large {
    font-size: 1.2rem;
  }

  @include tablet {
    font-size: 1.8rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }

}

.title-promotion-important {
  font-size: 2rem;
  border-bottom: 2px solid red;
  border-top: 2px solid red;

  @include mobile-large {
    font-size: 2.5rem;
  }

  @include tablet {
    font-size: 3.2rem;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
  }

  @include desktop {
    font-size: 4.5rem;
    border-bottom: 5px solid red;
    border-top: 5px solid red;
  }
}

.btn-green {
  font-size: 1.3rem;
  transition: all;
  border: 0;
  color: white;
  background-color:#2ec273;
  height: 3rem;
  width: auto;
  border-radius: 15px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;

  @include tablet {
    font-size: 1.2rem;
  }

  @include desktop {
    font-size: 1.3rem;
  }
}

.btn-green:hover {
  background-color: #238b5d; 
}


.btn-success2 {
  color: #fff;
  background-color: #2ec273;
  border-color: #2ec273;
  width:8rem;
}

.btn-success2:hover {
  background-color: #238b5d;
  color: #fff;
}

.btn-info2 {
  color: #fff;
  background-color: #3ac6e9;
  border-color: #3ac6e9;
  width:8rem;
}

.btn-info2:hover {
  background-color: #329fbb;
  color: #fff; 
}

.transparent-button {
  background-color: transparent; /* Fondo transparente */
  border: 2px solid transparent; /* Borde transparente */
  color: white; /* Color de texto heredado (normalmente negro o el color del texto por defecto) */
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
  cursor: pointer; /* Cambia el cursor al puntero al pasar el ratón */
  text-decoration: none; /* Elimina subrayado en caso de ser un enlace */
  transition: background-color 0.3s ease-in-out; /* Animación de transición */
  font-size: 1rem;
}

.transparent-button:hover {
  background-color: rgba(0, 0, 0, 0.2); /* Color de fondo al pasar el ratón (puedes ajustar la opacidad) */
  border-color: rgba(0, 0, 0, 0.2); /* Color del borde al pasar el ratón (puedes ajustar la opacidad) */
  /* Otras propiedades de estilo al pasar el ratón si es necesario */
}



.section-title {
  font-size: 1.3rem;
  border-bottom: 2px solid black;

  @include tablet {
    font-size: 2rem;
    border-bottom: 3px solid black;
  }

  @include desktop {
    font-size: 2.3rem;
    border-bottom: 4px solid black;
  }
}

.text-title-destacado {
  font-size: 1.5rem;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.1rem;
  }

  @include large {
    font-size: 2.6rem;
  }
}

.text-subtitle-destacado {
  font-size: 1rem;
  text-align: justify;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1.2rem;
  }

  @include large {
    font-size: 1rem;
  }
}

ul {
  padding-left: 0;
  margin: 0;

  li {
    font-size: 0.7rem;

    @include mobile-large {
      font-size: 0.8rem;
    }

    @include tablet {
      font-size: 1.2rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }

    @include large {
      font-size: 2;
    }
  }
}

.text-shadow-red {
  text-shadow: 3px 0px 0px #dc3545, -3px 0px 0px #dc3545, 0px 3px 0px #dc3545,
    0px -3px 0px #dc3545, 2px 2px 0px #dc3545, -2px -2px 0px #dc3545,
    2px -2px 0px #dc3545, -2px 2px 0px #dc3545;
}
.map {
  max-width: 300px;
  height: 300px;
}
.icon {
  font-size: 1rem !important;
  margin-right: 10px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(108%);
}

.info{
  text-align: justify;
  text-justify: inter-word;
}

.img-info{
  border-radius: 20px;
}

.content-info {
  background-color: #F4FAFF;
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#cabeza {
      background: linear-gradient(to right, #1f7dfe, #006dd2, #005ba6, #00497a, #123651);
    }

.h3-izquerda{
    text-align: right;
  }

  #envianosMensaje {
    background: #AAC7FF;
    //border-radius: 20px 20px 0 0;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  #form {
    background: #f1dfab;
  }
  
  #ubicacion {
    background: #EFF8FF;
    margin-top: 20px;
  }

  #tituloubi{
    background: linear-gradient(to right, #1f7dfe, #006dd2, #005ba6, #00497a, #123651);
    //border-radius: 20px 20px 0 0;
    color: white;
  }

  li{
    font-size: 5px;
  }

  .container-signup{
    background: url("/assets/img/registro/bgimgsm.jpg");
    background-size: 100%;
    background-size: cover;
    
    @include mobile-large {
      background: url("/assets/img/registro/bgimgsm.jpg");
      background-size: 100%;
      background-size: cover;

    }

    @include tablet {
      background: url("/assets/img/registro/bgimgsm.jpg");
      background-size: 100%;
      background-size: cover;
    }

    @include desktop {
      background: url("/assets/img/registro/bgimg.jpg");
      background-size: 100%;
      background-size: cover;
    }
    }

    .container-login{
      background: url("/assets/img/login/lab.jpg");
      background-size: 100%;
      background-size: cover;
      backdrop-filter: blur (100px);
      }

    .bg-login {
      background-image: url("/assets/img/login/login-bgsm.jpg");
      background-position: center center;
    }

     
  
    

  .container-cita{

    @include mobile-large {
      background: url("/assets/img/citas/citasbgsm.jpg");
      background-size: 100%;
      background-size: cover;
    }

    @include tablet {
      background: url("/assets/img/citas/citasbgsm.jpg");
      background-size: 100%;
      background-size: cover;
    }

    @include desktop {
      background: url("/assets/img/citas/citasbg.jpg");
      background-size: 100%;
      background-size: cover;
    
      
    }
    
     
    
    }

  .bg-blur{
      
      
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.712);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
      
  }
  .bg-blur-login{
      
        box-shadow: 0 4px 30px rgba(255, 255, 255, 0.753);
        backdrop-filter: saturate(1%) ;
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 20px;
      
  }

  #tituloresultados{
    background: linear-gradient(#1f7dfe, #006dd2, #005ba6, #00497a, #123651);
    padding: 40px;
    width: 90%;
    color: white;
  }
  
  .container-results {
    background-color: #D2EBFF;
    padding: 60px;
    width: 90%;
    border-radius: 10px;
  }

  .container-download {
    background-color: #60B2FE;
    padding: 60px;
    width: 90%;
    border-radius: 10px;
  }

  .inputID {
    border-radius: 5px;
  }

  .results-form-control {
    width: 50%;
  }
.bg-blur{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.bg-blur-login{
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.tarjeta{
  background: linear-gradient(to right, #1f7dfe, #006dd2, #005ba6, #00497a, #123651);
  border-radius: 20px 20px 0 0;
  color: white;
}

.tarjeta2 {
  background: #EFF8FF;
  border-radius: 20px 20px 20px 20px;
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.headcard{
  background: linear-gradient(to right, #1f7dfe, #006dd2, #005ba6, #00497a, #123651);
  border-radius: 20px 20px 0 0;
  color: white;
}

.footcard{
  background: #2ec273;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

.card {
  background: white;
  border-radius: 0px;
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.profilepic{
  border-radius: 100px;
  width:200px;
  height:200px;
}

.container-error404 {
  background-color: #E4F3FF;
  padding: 80px;
  width: 100%;
  border-radius: 10px;
}

.error404 {
  color: #57AEFF;
  font-size: 8em;
  margin-top: 25px;
  margin-bottom: 0px;
}

.error-Text {
  font-size: 1.3em;
  margin-top: -25px;
  
}

#ButtonCitaEstudio {
  font-size: 1em;
  color: white;
  background-color:#2ec273;
  width: auto;
  border-radius: 7px;
  
}

#Ver {
  color: white;
}