@mixin mobile-large {
  @media only screen and (min-width: 425px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width-320 {
  max-width: 375px;
}
.h-max-carousel{
  max-height: calc(100vh - 70px) !important;
}
.text-color-principal {
  color: #133752;
}

.text-shadow-red {
  text-shadow: 3px 0px 0px #dc3545, -3px 0px 0px #dc3545, 0px 3px 0px #dc3545,
    0px -3px 0px #dc3545, 2px 2px 0px #dc3545, -2px -2px 0px #dc3545,
    2px -2px 0px #dc3545, -2px 2px 0px #dc3545;
}

.logo {
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(28deg)
    brightness(107%) contrast(101%);
}

.bg-gradient {
  background-image: linear-gradient(
    to right,
    #171a1d,
    #006dd2,
    #005ba6,
    #00497a,
    #123651
  ) !important;
}

.bg-green {
  background-color: #2ec273;
}

.bg-blue-ligth {
  background-color: #f5fbfe;
}

.logo {
  width: 100px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(28deg)
    brightness(107%) contrast(101%);
}

.card-promo {
  position: absolute;
  top: 0;
  left: 5%;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.373);
}

.img-bg-promotion {
  object-fit: cover;
}

.img-promotion {
  display: none;

  @include mobile-large {
    display: block;
    width: 75px;
  }

  @include tablet {
    display: block;
    width: 150px;
  }

}

.title-promotion {
  font-size: 1.6rem;

  @include mobile-large {
    font-size: 1.7rem;
  }

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 3.5rem;
  }

}

.subtitle-promotion {
  font-size: 1rem;

  @include mobile-large {
    font-size: 1.2rem;
  }

  @include tablet {
    font-size: 1.8rem;
  }

  @include desktop {
    font-size: 2.5rem;
  }

}

.title-promotion-important {
  font-size: 2rem;
  border-bottom: 2px solid red;
  border-top: 2px solid red;

  @include mobile-large {
    font-size: 2.5rem;
  }

  @include tablet {
    font-size: 3.2rem;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
  }

  @include desktop {
    font-size: 4.5rem;
    border-bottom: 5px solid red;
    border-top: 5px solid red;
  }
}

.btn-green {
  font-size: 0.9rem;
  transition: all;

  @include tablet {
    font-size: 1.2rem;
  }

  @include desktop {
    font-size: 1.3rem;
  }
}

.section-title {
  font-size: 1.3rem;
  border-bottom: 2px solid black;

  @include tablet {
    font-size: 2rem;
    border-bottom: 3px solid black;
  }

  @include desktop {
    font-size: 2.3rem;
    border-bottom: 4px solid black;
  }
}

.text-title-destacado {
  font-size: 1.5rem;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 2.1rem;
  }

  @include large {
    font-size: 2.6rem;
  }
}

.text-subtitle-destacado {
  font-size: 1rem;
  text-align: justify;

  @include tablet {
    font-size: 1.1rem;
  }

  @include desktop {
    font-size: 1.2rem;
  }

  @include large {
    font-size: 1rem;
  }
}

ul {
  padding-left: 0;
  margin: 0;

  li {
    font-size: 0.7rem;

    @include mobile-large {
      font-size: 0.8rem;
    }

    @include tablet {
      font-size: 1.2rem;
    }

    @include desktop {
      font-size: 1.5rem;
    }

    @include large {
      font-size: 2;
    }
  }
}

.text-shadow-red {
  text-shadow: 3px 0px 0px #dc3545, -3px 0px 0px #dc3545, 0px 3px 0px #dc3545,
    0px -3px 0px #dc3545, 2px 2px 0px #dc3545, -2px -2px 0px #dc3545,
    2px -2px 0px #dc3545, -2px 2px 0px #dc3545;
}
.map {
  max-width: 300px;
  height: 300px;
}
.icon {
  font-size: 1rem !important;
  margin-right: 10px;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(108%);
}

.info{
  text-align: justify;
  text-justify: inter-word;
}

.img-info{
  border-radius: 20px;
}

.content-info {
  background-color: #F4FAFF;
  box-shadow:
  inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

#cabeza {
      background: linear-gradient(to right, #1f7dfe, #006dd2, #005ba6, #00497a, #123651);
    }

.h3-izquerda{
    text-align: right;
  }

  #envianosMensaje {
    background: #AAC7FF;
    border-radius: 20px 20px 0 0;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  #form {
    background: #f1dfab;
  }
  
  #ubicacion {
    background: #EFF8FF;
    margin-top: 20px;
  }

  #tituloubi{
    background: linear-gradient(to right, #1f7dfe, #006dd2, #005ba6, #00497a, #123651);
    border-radius: 20px 20px 0 0;
    color: white;
  }

  li{
    font-size: 5px;
  }
